@page "/resume"
<div class="card-inner" id="resume-card">
	<div class="card-wrap">

		<!--
			Resume
		-->
		<div class="content resume">

			<!-- title -->
			<div class="title">Resume</div>

			<!-- content -->
			<div class="row">

				<!-- experience -->
				<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
					<div class="resume-title border-line-h">
						<div class="icon"><i class="fa fa-briefcase"></i></div>
						<div class="name">Experience</div>
					</div>
					<div class="resume-items">
						<div class="resume-item border-line-h ">
							<div class="date">2021 - 2023</div>
							<div class="name">Software developer</div>
							<div class="company">Corpecca Sarl, Cameroon.</div>
							<p>
								
								Incrementally design, develop, test, debug, and deploy IT products using modern
								software delivery tools, frameworks, and deployment methods.
								<br />
								Work collaboratively as part of an Agile development team on a range of exciting
								projects.
								
							</p>
						</div>
						<div class="resume-item border-line-h ">
							<div class="date">2019 - 2021</div>
							<div class="name">Software developer</div>
							<div class="company">University Institute of Technology of Ngaoundere, Cameroon</div>
							<p>
								Design, develop and maintain web applications.
							</p>
						</div>
						@* <div class="resume-item">
							<div class="date">2009 - 2010</div>
							<div class="name">Senior Developer</div>
							<div class="company">Abc Inc.</div>
							<p>
								Optimize website performance using latest technology.
							</p>
						</div> *@
					</div>
				</div>

				<!-- education -->
				<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
					<div class="resume-title border-line-h">
						<div class="icon"><i class="fa fa-university"></i></div>
						<div class="name">Education</div>
					</div>
					<div class="resume-items" style="display:flex;">
						<div class="resume-item border-line-h col col-d-6 col-t-6 col-m-12">
							<div class="date">2019 - 2020</div>
							<div class="name">Bachelor's degree in Software Engineering </div>
							<div class="company"><br />University of Ngaoundere, Cameroon</div>
							
						</div>
						<div class="resume-item border-line-h col col-d-6 col-t-6 col-m-12">
							<div class="date">2017 - 2019</div>
							<div class="name">University Diploma of Technology in Computer Engineering </div>
							<div class="company">University of Ngaoundere, Cameroon</div>
							
						</div>
						@* <div class="resume-item">
							<div class="date">2004 - 2005</div>
							<div class="name">Web Design Course</div>
							<div class="company">London</div>
							<p>
								Converted Photoshop layouts to web pages using HTML, CSS, and JavaScript
							</p>
						</div> *@
					</div>
				</div>

				<div class="clear"></div>
			</div>

		</div>

		<!--
			Skills
		-->
		<div class="content skills">

			<!-- title -->
			<div class="title">My Skills</div>

			<!-- content -->
			<div class="row">

				<!-- skill item -->
				<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
					<div class="skills-list">
						<div class="skill-title border-line-h">
							<div class="icon"><i class="fa fa-paint-brush"></i></div>
							<div class="name">Delivery Tools</div>
						</div>
						<ul>
							<li class="border-line-h">
								<div class="name">Azure Devops / GIT</div>
								
							</li>
							<li class="border-line-h">
								<div class="name">NUnit</div>
								
							</li>
							<li class="border-line-h">
								<div class="name">SRUM</div>
								
							</li>
							<li>
								<div class="name">Visual Studio</div>
								
							</li>
						</ul>
					</div>
				</div>

				<!-- skill item -->
				<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
					<div class="skills-list dotted">
						<div class="skill-title border-line-h">
							<div class="icon"><i class="fa fa-flag"></i></div>
							<div class="name">Languages</div>
						</div>
						<ul>
							<li class="border-line-h">
								<div class="name">English : Fluent</div>
							</li>
							
							<li>
								<div class="name">French : Native</div>
							</li>
						</ul>
					</div>
				</div>

				<!-- skill item -->
				<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
					<div class="skills-list circles  grid">
						<div class="skill-title border-line-h">
							<div class="icon"><i class="fa fa-code"></i></div>
							<div class="name">Coding</div>
						</div>
						<ul>
							<li >
								<div class="name"></div>
								<div class="img-frame" >
									<img src="images/resume/C-sharp.png">
								</div>
							</li>
							<li>
								<div class="name"></div>
								<div class="img-frame">
									<img src="images/resume/html.png">
								</div>
							</li>
							<li>
								<div class="name"></div>
								<div class="img-frame">
									<img src="images/resume/css.png">
								</div>
							</li>
							<li>
								<div class="name"></div>
								<div class="img-frame">
									<img src="images/resume/js.png">
								</div>
							</li>
							
						</ul>
					</div>
				</div>

				<!-- skill item -->
				<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
					<div class="skills-list list">
						<div class="skill-title border-line-h">
							<div class="icon"><i class="fa fa-list"></i></div>
							<div class="name">Frameworks / <br /><br /> Architecture</div>
						</div>
						<ul>
							<li>
								<div class="name">.NET</div>
							</li>
							<li>
								<div class="name">.Net MAUI</div>
							</li>
							<li>
								<div class="name">Blazor</div>
							</li>
							<li>
								<div class="name">Angular</div>
							</li>
							<li>
								<div class="name">REST</div>
							</li>
							<li>
								<div class="name">Microservice</div>
							</li>
							<li>
								<div class="name">MVC</div>
							</li>
							<li>
								<div class="name">MVVM</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="clear"></div>
			</div>

		</div>

	
	</div>
</div>
